.header {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  line-height: 56px;

  &__transactions {
    @include railway-bold;
    font-size: 36px;
  }

  &__balance {
    @include railway-regular;
    font-size: 24px;
  }

  &__balance-sum {
    @include lato-bold;
    font-size: 36px;

    margin-left: 8px;
  }

  &__button {
    @include railway-bold;
    padding: 18px 42px;

    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    background-color: #fdfdfe;
    box-shadow: 0px 0px 50px rgba(206, 205, 255, 0.25);

    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 0px 50px rgba(109, 107, 208, 0.44);
      cursor: pointer;
    }
  }

  &__button-plus {
    color: #8600ef;
  }
}
